.title {
    margin-left: 10px;
    width: 100%;
    font-size: 24px;
    color: rgb(97, 97, 97);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgContainer {
    height: 400px;
    margin-left: 200px;
}
.contentContainer {
    height: 400px;
    margin-left: 20px;
}
