.datatable {
    height: 800px;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.datatable .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: rgb(97, 97, 97);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable .datatableTitle .link {
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.table .cellWrapper {
    display: flex;
    align-items: center;
}


.datatable .cellAction {
    display: flex;
    align-items: center;
    gap: 5px;
}

.datatable .cellAction .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
    size: 10px;
}

.datatable .cellAction .editButton {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: white;
    color: rgb(43, 150, 196);
    border: 1px dotted rgba(36, 214, 234, 0.6);
    cursor: pointer;
    font-size: 14px;
}

.datatable .cellAction .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: white;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
    font-size: 14px;
}

.cellWithImg {
    display: flex;
    align-items: center;
}

.cellWithImg .cellImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.myContainerPagination {
    display: flex;
    padding: 10px;
    color: rgb(62, 3, 117);
    float: right;


}

.pageItem {
    margin: 20px;
    text-emphasis: none;
    cursor: pointer;
    text-decoration: none;
}

/* .details {
    .itemTitle {
      margin-bottom: 10px;
      color: #555;
    }

    .detailItem {
        display: flex;
        flex-direction: column;
      margin-bottom: 10px;
      font-size: 14px;

      .itemKey {
        font-weight: bold;
        color: gray;
        margin-right: 5px;
      }

      .itemValue {
        font-weight: 300;
      }
    }
  } */

.detailItems {
    display: flex;
 
}

.details{
    
    padding: 10;
    border-width: 2;
    margin-top: 5;
    margin-left: 5;
    border-radius: 5;
    justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(12, 10, 10, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(110, 109, 109, 0.47);
  border-radius: 10px;
  height: 100px;
    
}